:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --text-stroke-color: #000000;
  --animation-fill-color: #ff0000;
  --card-text-weight: 400;
  --card-title-weight: 700;
  --main-color: #000;
  --button-color: #fff;
  --main-bg-color: #fff;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --accent-color-text: rgba(255, 255, 255, 1);
  --box-shadow-focus: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}
